/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}
.lambda-logo {
    font-size: .8rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    margin-top: 2rem;
}
.nav-bar {
    width: 100%;
}
.list-menu {
    display: flex;
    justify-content: space-around;
}
.list-item {
    font-size: 1.1rem;
    margin-top: 1.2rem;
    
}
.list-item a {
    text-decoration: none;
    color: #000;
    transition: all 0.4s ease-in-out;
}
.list-item a:hover {
    background: black;
    color: white;
    padding: 0 .5rem;
}
.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}
 /***removed specificity .middle-content from boxes***/
.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
 /***removed specificity ..middle-content .boxes from box***/
.box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*---home page  boxes background-color ---*/
.box-1 { background-color: teal; }
.box-2 { background-color: gold; }
.box-3 { background-color: cadetblue; }
.box-4 { background-color: coral; }
.box-5 { background-color: crimson; }
.box-6 { background-color: forestgreen; }
.box-7 { background-color: darkorchid; }
.box-8 { background-color: hotpink; }
.box-9 { background-color: indigo; }
.box-10 { background-color: dodgerblue; }

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.text-container {
    padding-right: 4%;
}

.text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

/************** About page Styling starts here *************/

.jumbo-about {
    margin: 15px 0 10px 0;
}
.about-main {
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 1px dotted;
}
.item-containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item {
    width: 48%;
    margin-top: 2rem;
    margin-left: 1rem;
}
.item-containers .item p {
    margin: 20px 0;
}
.item-content {
    margin: 15px 0;
}
.learn-btn {
    background-color: #fff;
    outline: none;
    border: 2px solid;
    padding: 0.5rem 1.5rem;
    border-radius: .6rem;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all ease 0.3s;
}
.learn-btn:hover {
    cursor: pointer;
    background-color: #eee;
}
hr {
    border-top: 0;
    border-bottom: 1px dashed;
    margin-top: 1.5rem;
}
.about-end {
    margin: 1rem;
}
footer {
    margin-bottom: .5rem;
    margin-top: 2rem;
}

/************* Contact page styling starts here ************/


  body {
    background-color: #ddd;
  }
  
  .contact-title {
      margin: 4rem;
      font-size: 3rem;
      text-align: center;
      
  }
  .contact-form {
    display:flex;
    max-width:50rem;
    height: 50vh;
    margin: 0 auto;
    background-color: rgba(0,0,0,.8);
    padding: 3rem;
    border-radius: 5px;
    box-shadow: 0 0 2rem rgba(0,0,0, .7);
  }
  
  .input-fields {
    display:flex;
    flex-direction: column;
    margin-right: 10%;
    
  }
    
  .input-fields,
  .msg {
    width: 50%;
  }
  .input:focus,
  .msg textarea {
      outline: none;
  }
  .input-fields .input,
  .msg textarea{
    margin: 1rem 0;
    background:transparent;
    border: none;
    border-bottom: 2px solid #c5ecfd;
    width: 100%;
    color: #c5ecfd;
    font-size: 1.2rem;
    }
  
  .btn {
    background: #39b7dd;
    color:#fff;
    text-align:center;
    text-transform:uppercase;
    padding: 1rem;
    border-radius: 5px;
    cursor:pointer;
    transition: all .5s ease-out;
    }
  .btn:hover {
   background: #39b7ff;
  }
  ::placeholder {
      color: white;
      font-size: 1.1rem;
     
  }